<div class="header">
	<div class="container-fluid">
		<div class="col-md-4 title">
			<h2>Header</h2>
		</div>
		<div class="col-md-offset-2 col-md-4">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search">
		      <button class="fa fa-search" aria-hidden="true"></button>
		    </div><!-- /input-group -->
			<button class="fa fa-cog" aria-hidden="true"></button>
			<button class="fa fa-ellipsis-h" aria-hidden="true"></button>
		</div>
	</div>
</div>