<div class="wrapper">
	<div class="sidebar">
		<a href="#">Andrew's Dashboard</a>
		<div class="sidebar-wrapper">
			<nav>
		        <ul class="nav">
		            <li class="active">
		                <a routerLink="/dashboard" routerLinkActive="active">
		                    <i class="material-icons">dashboard</i>
		                    <p>Dashboard</p>
		                </a>
		            </li>
		            <li>
		                <a routerLink="/user-profile" routerLinkActive="active">
		                    <i class="material-icons">person</i>
		                    <p>Profile</p>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <i class="material-icons">content_paste</i>
		                    <p>Clipboard</p>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <i class="material-icons">library_books</i>
		                    <p>Notes</p>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <i class="material-icons">bubble_chart</i>
		                    <p>Chart</p>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <i class="material-icons">location_on</i>
		                    <p>Map</p>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <i class="material-icons text-gray">notifications</i>
		                    <p>Notifications</p>
		                </a>
		            </li>
		        </ul>
	        </nav>
	        <ul>
	        	<li>
	        		<a href="#">
		        		<i class="fa fa-facebook" aria-hidden="true"></i>
	        		</a>
	        	</li>
		        <li>
		        	<a href="#">
		        		<i class="fa fa-twitter" aria-hidden="true"></i>
	        		</a>
	        	</li>
		        <li>
		        	<a href="#">
		        		<i class="fa fa-youtube-play" aria-hidden="true"></i>
	        		</a>
	        	</li>
		        <li>
		        	<a href="#">
		        		<i class="fa fa-twitch" aria-hidden="true"></i>
	        		</a>
	        	</li>
		        <li>
		        	<a href="#">
		        		<i class="fa fa-instagram" aria-hidden="true"></i>
	        		</a>
	        	</li>
	        </ul>
		</div>
	</div>
</div>